.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444444;
}

.list-wrapper {
  width: 360px;
  height: 550px;
  background-color: black;

  display: flex;
  flex-direction: column;
}

.list-header {
  height: 60px;
  width: 360px;
  background-color: #555555;

  color: white;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  width: 40px;
}
.header-title {
  flex: 1;
  text-align: center;
}
.header-icon {
  width: 60px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-list {
  flex: 1;
  color: white;
  padding: 16px;
  overflow-y: auto;
}

.list-actions {
  width: 360px;
  height: 120px;
  background-color: #555555;

  padding-block: 8px;
  padding-inline: 16px;
  margin-block-start: 8px;
}

.new-product-input {
  width: 100%;
  height: 48px;
  margin-block-end: 8px;
}

.add-button {
  width: 100%;
  height: 48px;
}